ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 230px;
    background-color: #404a4e;
    color: white;
}

li label {
    display: block;
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
    font-weight: normal;
}

li label:hover {
    background-color: #404a4e;
    color: white !important;
}

.active {
    background-color: #4CAF50;
    color: white;
}

.menu-click {
    background-color: #404a4e !important;
}

.menu-title {
    border-top: 1px solid #555;
    background-color: #313b3f !important;
    font-weight: bold !important;
}

.menu-title label {
    padding-left: 20px !important;
    color: #9ba5ac !important;
}

.menu-hidden {
    display: none;
}

.clickable {
    cursor: pointer !important;
}