/* You can add global styles to this file, and also import other style files */

.app-container-right {
    height: calc(100vh);
    float: right;
    width: calc(100% - 230px);
}

.fade-in-effect {
    -webkit-animation: fadeEffect 1s;
}

@-webkit-keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

